<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <config>
    <add key="signatureValidationMode" value="require" />
  </config>
  <packageSources>
    <clear />
    <!-- <add key="IQS-NuGet@Release" value="https://pkgs.dev.azure.com/ZEISSgroup-IQR/_packaging/IQS-NuGet%40Release/nuget/v3/index.json" /> -->
    <!-- <add key="IQS-NuGet@PreRelease" value="https://pkgs.dev.azure.com/ZEISSgroup-IQR/_packaging/IQS-NuGet%40PreRelease/nuget/v3/index.json" /> -->
    <add key="IQS-NuGet" value="https://pkgs.dev.azure.com/ZEISSgroup-IQR/_packaging/IQS-NuGet/nuget/v3/index.json" />
  </packageSources>
  <trustedSigners>
    <author name="Carl Zeiss AG">
      <certificate fingerprint="3EE5F495E3B01C41F2CAD3FC84982A76A3EAC15F6EA36BBA306CF76B56BD5BED" hashAlgorithm="SHA256" allowUntrustedRoot="false" />
    </author>
  </trustedSigners>
</configuration>